[Unit]
Description=etcd service
Documentation=https://github.com/coreos/etcd
 
[Service]
User=etcd
Type=notify
ExecStart=/usr/local/bin/etcd \
--name {{ inventory_hostname }} \
--enable-v2=true \
--data-dir /var/lib/etcd \
--initial-advertise-peer-urls http://{{ ansible_default_ipv4.address }}:2380 \
--listen-peer-urls http://{{ ansible_default_ipv4.address }}:2380 \
--listen-client-urls http://{{ ansible_default_ipv4.address }}:2379,http://127.0.0.1:2379 \
--advertise-client-urls http://{{ ansible_default_ipv4.address }}:2379 \
--initial-cluster-token etcd-cluster-1 \
--initial-cluster {{ hostvars[ etcd01 ]['ansible_hostname'] }}=http://{{ hostvars[ etcd01 ]['ansible_default_ipv4']['address'] }}:2380,{{ hostvars[ etcd02 ]['ansible_hostname'] }}=http://{{ hostvars[ etcd02 ]['ansible_default_ipv4']['address'] }}:2380,{{ hostvars[ etcd03 ]['ansible_hostname'] }}=http://{{ hostvars[ etcd03 ]['ansible_default_ipv4']['address'] }}:2380 \
--initial-cluster-state new 
 
[Install]
WantedBy=multi-user.target
